.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 8px 10px;
    border: 4px solid #000;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    image-rendering: pixelated;
    line-height: 1;
    text-transform: uppercase;
    cursor: default;
    background-color: var(--btn-color, #ffffff);
}
